<div class="container-fluid mt-3  ">

  <div class="row">

    <div class="col-md-4 mx-auto  ">

        <div   class="mx-auto shadow " style="width: 23rem;">
          <img  src="../../../assets/imgs/yo.jpg" class="card-img-top imagenLenta rounded shadow" alt="...">

        </div>
    </div>

    <div class="col-md-8  ">

      <div class="centrarContenido " >
        <p id="maquina" class="text-center bg-light maquina maquinaBorder" >
          Hola, mi nombre es alejandro tengo 21 años <br>
          soy tecnico y tecnologo en desarrollo <br> de software,
          tengo 6 meses de experiencia en <br> desarrollo debido a mis practicas del sena  las cuales <br>
           realice en la empresa super servicios  del vale S.A <br> desarrollando nuevos proyectos y actualizando <br> otros existentes {{mensaje}}
        </p>
      </div>
    </div>

    <hr class="mt-4" >

  </div>


  <div class="bg-light container " >
    <div class="row bg-light mt-5 ">

      <div class="row  ">

        <div class="col-md-12 p-3 text-center ">
            <h2>HABILIDADES</h2>
        </div>

      </div>


      <div class="col-md-3 scroll-content fadeTop   text-center "  >
        <div class="card agrandarElementos shadow-lg  " >
          <img src="../../../assets/imgs/html.png" height="148" class="card-img-top  " alt="...">
          <div class="card-body">
            <h5 class="card-title">NIVEL AVANZADO</h5>

          </div>
        </div>
      </div>

      <div class="col-md-3 scroll-content fadeTop text-center ">
        <div class="card agrandarElementos shadow-lg">
          <img src="../../../assets/imgs/css.webp"  height="148" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NIVEL MEDIO</h5>

          </div>
        </div>
      </div>

      <div class="col-md-3 scroll-content fadeTop text-center ">
        <div class="card agrandarElementos shadow-lg" >
          <img src="../../../assets/imgs/js.png" height="148" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NIVEL MEDIO</h5>

          </div>
        </div>
      </div>

      <div class="col-md-3 scroll-content fadeTop text-center ">
        <div class="card agrandarElementos shadow-lg" >
          <img src="../../../assets/imgs/boostrap.png" height="148" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NIVEL MEDIO</h5>

          </div>
        </div>
      </div>

    </div>

     <!-- ---------------------------------- -->

    <div class="row mt-5  ">
      <div class="col-md-3 scroll-content fadeTop text-center ">
        <div class="card agrandarElementos shadow-lg" >
          <img src="../../../assets/imgs/angular.png"  height="148" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NIVEL MEDIO</h5>

          </div>
        </div>
      </div>

      <div class="col-md-3 scroll-content fadeTop text-center ">
        <div class="card agrandarElementos shadow-lg" >
          <img src="../../../assets/imgs/laravel.png"  height="148" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NIVEL MEDIO</h5>

          </div>
        </div>
      </div>

      <div class="col-md-3 scroll-content fadeTop text-center ">
        <div class="card agrandarElementos shadow-lg" >
          <img src="../../../assets/imgs/nodejs.png"  height="148" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NIVEL MEDIO</h5>

          </div>
        </div>
      </div>

      <div class="col-md-3 scroll-content fadeTop text-center ">
        <div class="card agrandarElementos shadow-lg" >
          <img src="../../../assets/imgs/csharp.jpg"  height="148" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NIVEL MEDIO</h5>

          </div>
        </div>
      </div>
    </div>

    <!-- ---------------------------------- -->

    <div class="row mt-5  ">
      <div class="col-md-3 scroll-content fadeTop text-center ">
        <div class="card agrandarElementos shadow-lg" >
          <img src="../../../assets/imgs/sql.jpg"  height="148" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NIVEL MEDIO</h5>

          </div>
        </div>
      </div>

      <div class="col-md-3 scroll-content fadeTop  text-center ">
        <div class="card  agrandarElementos shadow-lg" >
          <img src="../../../assets/imgs/postgres.jpeg"  height="148" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NIVEL BAJO</h5>

          </div>
        </div>
      </div>

      <div class="col-md-3 scroll-content fadeTop text-center ">
        <div class="card agrandarElementos shadow-lg" >
          <img src="../../../assets/imgs/sqlserver.jpg"  height="148" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NIVEL MEDIO</h5>

          </div>
        </div>
      </div>

      <div class="col-md-3 scroll-content fadeTop text-center ">
        <div class="card agrandarElementos shadow-lg" >
          <img src="../../../assets/imgs/git-github-cero-facialix.jpg"  height="148" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NIVEL MEDIO</h5>

          </div>
        </div>
      </div>


    </div>

    <div class="row mt-5  ">
      <div class="col-md-3 scroll-content fadeTop text-center ">
        <div class="card agrandarElementos shadow-lg" >
          <img src="../../../assets/imgs/linux.png"  height="148" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NIVEL BAJO <br>(UBUNTU) </h5>

          </div>
        </div>
      </div>
    </div>


  </div>



    <div class="mt-5" >

      <div class="row" >

        <hr>

        <div class="col-md-12 text-center mt-4 ">
        <h2>SOBRE MI</h2>
        </div>
      </div>


      <div class="row mt-3 ">

        <div class="col-md-6 text-center">

          <div class="bg-light  border scroll-content fadeLeft border-1 p-3 rounded " >
            <h3 class="" >ESTUDIOS</h3>

            <p>
              Empeze mi carrera como desarrollador en pereira a inicios del año 2019 en la universidad
              <q>CIAF</q>, me gradue en diciembre del año 2020 como
              tecnico profecional en desarrolo de software, despues de ello me puse en busca de trabajo,
               estuve en una entrevista poco tiempo despues de graduarme y realice mi primera prueba tecnica, en ese momento
               me di cuenta que aun tenia un largo camino por recorrer en el mundo del desarrollo, y decedi continuar
              mis estudios en el sena de cartago en el año 2021 como tecnologo, y me gradue en el año 2023, pude realizar mis practicas como aprendiz en el area de T.I
              en la empresa super servicios del valle, en la cual personalmente gane mucha experiencia en nuevas tecnologias :).
            </p>

          </div>

        </div>

        <div class="col-md-6 text-center">

          <div class="bg-light  border scroll-content fadeLeft   rounded " >


            <img src="../../../assets/imgs/gradoColegio.jpg"  height="378" class="card-img-top rounded" alt="...">

          </div>

        </div>


      </div>

      <div class="row mt-3 ">

        <div class="col-md-6 text-center">

          <div class="bg-light h-100 border scroll-content fadeTop border-1 p-3 rounded " >
            <h3 class="text-center mt-5" >RESIDENCIA Y FAMILIA</h3>

            <p>Soy de un pequeño pueblo del norte del valle, naci <br> en alcala valle del cauca, me crie con mi madre mi padre <br> y mi hermana,
              mi madre tiene 44 años y mi hermana 17, <br> vivi unos años en la ciudad de pereira con otros familiares, <br> pero
              actualemente sigo recidiendo en el mismo lugar <br> que naci,
              con mi hermana y mi madre en un departamento <br> ubicado en el centro del pueblo, apartamento numero 4 calle 5, la ñapa.
            </p>

          </div>

        </div>

        <div class="col-md-6 text-center">

          <div class="bg-light  border scroll-content fadeTop   rounded " >


            <img src="../../../assets/imgs/Alcala1.jpg"  height="378" class="card-img-top rounded" alt="...">

          </div>

        </div>


      </div>

      <div class="row mt-3 ">

        <div class="col-md-6 text-center">

          <div class="bg-light h-100 border scroll-content fadeTop border-1 p-3 rounded " >
            <h3 class="text-center mt-5" >OBJETIVO</h3>

            <p>Desde pequeño mi padre me sumergio en la eletronica, de ahi viene mi pacion por la tecnologia,
              mi principal objetivo es seguir aumentando mis
             conocimientos en el mundo del desarrollo, y asi poder obtener un buen empleo como desarrollador. <br><br>

             despues de ello me gustaria ayudar a mi familia y poder llevar una vida tranquila y normal y estar
             haciendo lo que me gusta :D
           </p>

          </div>

        </div>

        <div class="col-md-6 text-center">

          <div class="bg-light  border scroll-content fadeTop   rounded " >


            <img src="../../../assets/imgs/familia.jpg"  height="378" class="card-img-top rounded" alt="...">

          </div>

        </div>


      </div>




    </div>






</div>







