
<div class="container-fluid mainFooter  bajar position-relative ">


  <div class="position-absolute top-0 start-50 translate-middle colorFooter w-75 rounded p-5 text-white movil  ">

    <div class="row scroll-content fadeTop ">
      <div class="col-md-4 text-center ">
        <h4 class="centrarRedes" > <b>Iniciar un proyecto</b> </h4>
      </div>
      <div class="col-md-4 text-center ">
        <p  >¿Interesado en trabajar juntos? Aqui te dejo todas mis redes sociales. Compraré el café. </p>
      </div>
      <div class="col-md-4 text-center  ">
        <a class="btn w-75 estiloBoton centrarRedes text-white" href="">CONTACTAME</a>
      </div>
    </div>


  </div>


  <div class="row p-5 redesSocialesMover  ">
    <div class="col-md-12 text-center text-white bajarFooter scroll-content fadeTop ">
      <img src="../../../assets/imgs/logoAMLBLANCO.png"  width="200" class="img-fluid logoFooter " alt="...">

      <p  >Viviendo, aprendiendo y <br> subiendo de nivel un día a la vez.</p>

      <div class="" >
        <a target="_blank" href="https://www.facebook.com/alejandro.moralesluaiza/"><img class="img-fluid mx-2 agrandarIconos" width="35"   src="../../../assets/imgs/facebook.png" alt="" ></a>
        <a target="_blank" href="https://wa.me/3002082778"><img class="img-fluid mx-2 agrandarIconos" width="35"   src="../../../assets/imgs/whatsapp.png" alt="" ></a>

      </div>

      <div class="mt-4" >
        <p>hecho a mano por mi © Alejandro Morales Loaiza</p>
      </div>

      <div>
        <p>Elaborado con Angular 14 & bootstrap 5</p>
      </div>


    </div>
  </div>
</div>
