<nav class="navbar navbar-expand-lg bg-light border-bottom border-1  ">

  <div class="container-fluid">

    <a class="navbar-brand mt-2 "  routerLink="/" ><b>ALEJANDRO MORALES LOAIZA</b></a>
    <img src="../../../assets/imgs/logo-removebg-preview.png" width="100" class="img-fluid" alt="...">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  justify-content-end " id="navbarSupportedContent">

      <ul class="navbar-nav">

        <li class="nav-item mx-2 ">
          <a class="nav-link text-dark" aria-current="page" routerLink="/intereses" ><b>INTERESES</b></a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-dark " routerLink="proyectos"  ><b>PORTAFOLIO</b></a>
        </li>
      </ul>

    </div>

  </div>
</nav>


